.container{
  margin: 30px auto;
}

form a {
  margin-left: 5px;
}

.post-title{
  margin: 5% 0 2% 0;
  padding-bottom: 1%;
  border-bottom: 1px solid lightgray;
}

.post-body{
  
  text-align: left;
  text-justify: newspaper;
}

body {
  margin: 0;
  padding: 0;
 
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0 0 5% 0;
  display: inline-block;
  width: 33.33%;
}

.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 